.header {
    padding: 60px;
    text-align: center;
    background: #020303;
    color: white;
    font-size: 30px;
  }
  .head {
   
    
    background: #020303;
    color: white;
    font-size: 10px;
  }
  li{
      font-size: 10px;
  }